<style>
    body {
        color:purple;
    }
</style>

<h1>you fell in love with : 5+5 => this right side is JSP!, Var is :  <%= thingVar.toUpperCase()%> </h1>
<% if(thingVar === "climbing") { %>
    <p>"nice choice!!"</p>
<% } else { %>
    <p>you have to workout harder!</p>
<% } %>
<p>P.S this is the love.ejs</p>