<% include partials/header %>
<h1> Landing Page is Here!</h1>
<a href="/campgrounds/new">Add new Campground</a>
<p>welcome to YelpCamp!</p>

<a href="/campgrounds">Move to Campground</a>

<% include partials/footer %>