<!DOCTYPE html>
<html>
    <head>
        <title>
          Demo App  
        </title>
        <!--!!Important!! use '/' for routing app.css means that find the file 
        from the root directory-->
        <link rel="stylesheet", type="text/css" href="/app.css">
    </head>
    <body>
        
