<h1>Friends List Goes Here!</h1>

<% friends.forEach(function(friend){ %>
<li>My friend is <%= friend %> </li>
<% }) %>

<form action="/addfriends" method="POST">
    <!--name은 input 속성에서 사용되는걸 기억하자!-->
    <input type="text" name="newfriend" placeholder="name">
    <button> i made a new friend!</button>
</form>

